/* Video Background */
#mediaContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  .media-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    image-rendering: -webkit-optimize-contrast;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    filter: brightness(0.8) contrast(1.2);
    object-fit: cover;
    will-change: visibility;

    &.video-layer {

    }

    &.image-layer {

    }

    &.active {
      opacity: 1;
    }

    &.inactive {
      opacity: 0;
    }
  }
}
