/* Video Background */
#mediaContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  .media-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: visibility;
    transform: translate3d(0, 0, 0);
    filter: brightness(0.8) contrast(1.2);
    backface-visibility: hidden;
  }

  .video-layer {

  }

  .image-layer {

  }

  .active {
    opacity: 1;
  }

  .inactive {
    opacity: 0;
  }
}
