name: HACS Validate

permissions:
  contents: read

on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  pull_request:
    branches:
      - main
  create:
    tags:
      - "v*"
jobs:
  validate-hacs:
    if: github.repository == 'SoulRaven/ha-weather-big-wall-clock'
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "plugin"
